@charset "UTF-8";
* {
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Shippori Mincho', serif;
    color: #333;
}
body{
    background: url(portfolio/img/haikei.JPG) rgb(255, 255, 255) left top no-repeat;
    background-size: contain;
}
p {
    background-color: transparent;
}
.main-visual-img{
    background-color: transparent;
}
.game-link {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #00f;
    text-decoration: none;
    height: 1.5em;
}
.game-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #00f;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
}  
.game-link:hover:after {
    transform: translate(0, 0);
}  

li {
    list-style: none;
    margin: 10px 0;
}
.main-visual-text {
    font-size: 25px;
    line-height: 2em;
    background-color: aquamarine;
    border-radius: 10px;
}
a.game-link:link {color: #00f;}
a.game-link:visited {color: #90f;}
a.game-link:hover {
    background-color: #888;
}
a.game-link:active {
    background-color: #888;
}
a.game-link:focus {
    outline: #333;
    border: 4px solid #ff0;
}
.skill-img {
    background-color: transparent;
}
.skill-name {
    font-size: 30px
}
.skill-text {
    background-color: aquamarine;
    text-align: center;
    font-size: 1.5em;
    padding: 0 2em 0 2em;
    margin: 0 2em 0 3em;
    border-radius: 40%;
}
.works-title {animation: vibration 0.01s ease 0s infinite alternate;}
@keyframes vibration {
    0% {transform: translate(0,0);}
    100% {transform: translate(5px,0);}
}
.works-title {
    text-align: center;
    font-size: 4em;
}
.skill-title span{
    display: inline-block;
    animation: wave-text 1s ease-in-out infinite;
}
.skill-title span:nth-of-type(1){ animation-delay: 0.0s; }
.skill-title span:nth-of-type(2){ animation-delay: 0.1s; }
.skill-title span:nth-of-type(3){ animation-delay: 0.2s; }
.skill-title span:nth-of-type(4){ animation-delay: 0.3s; }
.skill-title span:nth-of-type(5){ animation-delay: 0.4s; }

@keyframes wave-text{
    00%{transform: translateY(0em);}
    60%{transform: translateY(-0.8em);}
    100%{transform: translateY(0em);}
}
.skill-title { 
    text-align: center;
    font-size: 3em;
}
span {
    color: #adff2f;
}
